.customul{
    margin: 20px;
    padding-left: 0px;
    list-style-type: none;
}

.collapsibleMenu{
    margin-left: 20px;
    background-color: lightblue;
}

.collapsibleMenu:hover{
    background-color: brown;
}

.invisible{
    display: none;
}

.visible {
    display: block;
}

.infoButton {
    background-color: crimson;
}