
.taskContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}

.taskSubContainer {
  display: flex;
  flex-direction:row-reverse;
}

.inputBox {
  margin-top: 50px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.taskSubContainerSubmitEnabled, .taskSubContainerSubmitDisabled, .taskSubContainerSelector{
  width: 100px;
  margin-bottom: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  border-color: blue;
}

.taskSubContainerSelector {
  margin-right: 20px;
}

.taskSubContainerSubmitEnabled:hover {
  background-color: blue;
  border-color: black;
}


.tasksDetailsItem {
  margin-right: 20px;
  margin-bottom: 5px;
  border-radius: 10px;  
}