.formStyle{
  margin: 20px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
}

.taskSubContainer {
  display: flex;
  flex-direction:row-reverse;
}


.taskInput{
  margin: 20px 0px;
  height: 40px;
}

.taskSubContainerSubItemInput {
  width: 200px;
  margin-right: 20px;
}

.categoryInput{
  width: 200px;
  margin-right: 20px;
}

.taskSubContainerSubmit{
  width: 100px;
}